<div class="container p-4 ">
    <div class="row mx-auto ">
        <div class="jumbotron mx-auto text-center">
            <h1 class="display-4">Seleccione un modo</h1>
            <form>
                <button type="submit" formaction="/asctomorse" formmethod="POST"
                    class="btn btn-info btn-lg btn-block mt-4">Ascii->Morse</button>

                <button type="submite" formaction="/morsetoasc" formmethod="POST"
                    class="btn btn-success btn-lg btn-block">Morse->Ascii</button>
                <button type="submit" formaction="/Juegos" formmethod="POST"
                    class="btn btn-warning btn-lg btn-block">Game</button>

                <button type="submit" formaction="/historial" formmethod="POST"
                    class="btn btn-danger btn-sm mt-4">Historial</button>
            </form>

        </div>
    </div>
</div>