

<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto text-center">

            <div class="card">
                <div class="card-body">
                  

                        <form action="AsciiMorse/IngresarPalabra" method="POST" >
                            <div class="form-group">
                                <label for="txtarea"> Ingresar Cadena de texto</label>
                                <textarea name="palabra" rows="3" id="txtarea" class="form-control"
                                    placeholder="ASCII text" style="resize: none;" required></textarea>
                            </div>

                            <div class="form-group">

                                <button   onclick="prueba(palabra);" class="btn btn-success btn-block">
                                    Ascii to Morse
                                </button>
                            </div>

                        </form>


                </div>
            </div>

        </div>
    </div>


    <script>

        function prueba(texto) {

            
            }
    </script>

