<div class="container p-4 ">
    <div class="row mx-auto ">
        <div class="jumbotron mx-auto text-center" style="width:60%;">
            
            <form>
                <label for="exampleFormControlTextarea1">Ingresar una cadena de texto (menor a 10 caracteres)</label>
                <textarea class="form-control" name="cadena" id="exampleFormControlTextarea1" rows="3" style="resize: none;"></textarea>
                
                <button type="submit" formaction="Game/MisDatos" formmethod="POST"
                    class="btn btn-primary btn-sm mt-4" style="width:40%;">Play</button>
            </form>

        </div>
    </div>
</div>