<div class="container p-4 ">
    <div class="row mx-auto ">
        <div class="jumbotron mx-auto text-center" style="width:60%;">
            
            <form>
                <label for="exampleFormControlTextarea1">Ingresar una cadena de texto</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="resize: none;"></textarea>

                   <label for="exampleFormControlTextarea2">Salida</label>
                <textarea class="form-control" id="exampleFormControlTextarea2" rows="2" style="resize: none;"></textarea>
                
                <button type="submit" formaction="AsciiMorse/Datos" formmethod="POST"
                    class="btn btn-danger btn-sm mt-4" style="width:40%;">Convertir Morse -> Ascii </button>
            </form>

        </div>
    </div>
</div>